<!--
设备厂商：   
驱动ID：     
驱动描述：    

 -->  
<input tl-wrap  name="address"  label="站号"  ng-model="D.params.address"
        type="number"  max="255" min="0"  required 
        />

 <select tl-wrap
        label="PLC型号"
        ng-model="D.params.type"  

        ng-options = " o.v as o.k for  o in [   {k:'FXon' , v:0} , 
        										{k:'FX,FX2c' , v:1} ,
        										{k:'FX2n' , v:2} ,
        										{k:'FX3u' , v:3}
        ]"

        required   ></select>


 <select tl-wrap
        label="传输控制步骤"
        ng-model="D.params.format"  

        ng-options = " o.v as o.k for  o in [ {k:'格式1（无CR,LF）' , v:0} , {k:'格式4（有CR,LF）' , v:1} ]"

        required   ></select>



 <select tl-wrap
        label="和校验"
        ng-model="D.params.sum"  

        ng-options = " o.v as o.k for  o in [ {k:'无校验' , v:0} , {k:'有校验' , v:1} ]"

        required   ></select>





