<div  class="m-l-sm m-r-sm">
    <i class="fa fa-apple fa fa-3x"></i>
    <div class="row   ">
        <div class="col-md-4 col-xs-6   ">
            <strong>基本信息:</strong>
            <p class="m-l-lg">
                项目数量 &nbsp;:&nbsp;&nbsp; 2 <br>
                活跃系统数量 &nbsp;:&nbsp;&nbsp; 2<br>
                发送系统数量 &nbsp;:&nbsp;&nbsp; 2<br>
                GPS跟踪使能系统数量 &nbsp;:&nbsp;&nbsp; 2<br>
                用户数量 &nbsp;:&nbsp;&nbsp; 2 <br>
            </p>


        </div>
        <div class=" col-md-4 col-xs-6  ">
            <strong>登录信息:</strong>
            <p class="m-l-lg">

                登录帐号&nbsp;&nbsp;:xxxxxxxxx <br>
                登录时间&nbsp;&nbsp;:<!-- {{ new Date()  }}--> <br>
            </p>
        </div>

        <div class="line   b-b"></div>
    </div>

   <strong>为注册级别计算配置限额</strong>

    <form name="forma" class="form-horizontal form-validation">


        <div class="form-group">
            <label class=" col-md-2 col-sm-3 control-label">选择产品</label>
            <div class="col-md-2 col-sm-3">

                <select   class="form-control" ng-model="  project.projectname  "
                       ng-options="  obj.id as obj.name  for obj in product "
                        >
                </select>

            </div>
        </div>


        <div class="form-group">
            <!-- <label   for="dfae"  class="col-sm-2 control-label"   >项目名称</label>-->
            <label class="col-md-2 col-sm-3 control-label">慢日志记录</label>

            <div class="col-md-2 col-sm-2">
                <input ui-jq="TouchSpin" type="text" value="10" class="  w-xs"
                       data-min='0' data-max="20" data-verticalbuttons="true"
                       data-verticalupclass="fa fa-caret-up"
                       data-verticaldownclass="fa fa-caret-down">
            </div>
            <div class="col-md-2 col-sm-2   " >
                <select   class="form-control w-xs "  ng-class=" "
                    ng-model="log.s1"    ng-options="   a  for  a   in s1 "
                >
                </select>
                <span class="pos-fix"> 分钟</span>
            </div>

        </div>


        <div class="form-group">
            <label class="col-md-2 col-sm-3 control-label">中速日志记录</label>

            <div class="col-md-2 col-sm-2">
                <input ui-jq="TouchSpin" type="text" value="10" class="  w-xs"
                       data-min='0' data-max="20" data-verticalbuttons="true"
                       data-verticalupclass="fa fa-caret-up"
                       data-verticaldownclass="fa fa-caret-down">

            </div>
            <div class="col-md-2 col-sm-2   " >
                <select   class="form-control"  ng-class=" w-sm"
                          ng-model="log.s2"     ng-options="   a  for  a   in s2 "
                        >
                </select>
            </div>

        </div>

        <div class="form-group">
            <label class="col-md-2 col-sm-3 control-label">快速日志记录</label>

            <div class="col-md-2 col-sm-2">
                <input ui-jq="TouchSpin" type="text" value="10" class="  w-xs"
                       data-min='0' data-max="20" data-verticalbuttons="true"
                       data-verticalupclass="fa fa-caret-up"
                       data-verticaldownclass="fa fa-caret-down">

            </div>
            <div class="col-md-2 col-sm-2   " >
                <select   class="form-control"  ng-class=" w-sm"
                          ng-model="log.s3"    ng-options="   a  for  a   in s3 "
                        >
                </select>
            </div>
        </div>


    </form>

    <strong>历史数据的存储时间</strong>




</div>