<div class="panel panel-default gap-5 "  style="width:60%; margin: 5px auto;">

        <div class="panel-body ">

          <div class="m-b">
            <a href="" class="pull-left thumb-sm  "><img src="../../img/a2.jpg" alt="..."></a>
            <div class="m-l-xxl">
              <div class="pos-rlt wrapper b b-light r r-2x">
                <span class="arrow left pull-up"></span>
                <p class="m-b-none">Hi John, What's up..i John, What's up..i John, What's up..i John, What's up..
                	i John, What's up..i John, What's up..i John, What's up..v
                	i John, What's up..i John, What's up..i John, What's up..
                	i John, What's up..i John, What's up..i John, What's up..i John, What's up..i John, What's up..
                	i John, What's up..i John, What's up..i John, What's up..i John, What's up..
                	i John, What's up..i John, What's up..i John, What's up..
                	i John, What's up..i John, What's up..i John, What's up..
                	i John, What's up..i John, What's up..
                	.</p>
              </div>
              <small class="text-muted"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
            </div>
          </div>

  	 	  <div class="m-b">
            <a href="" class="pull-left thumb-sm  "><img src="../../img/a2.jpg" alt="..."></a>
            <div class="m-l-xxl">
              <div class="pos-rlt wrapper b b-light r r-2x">
                <span class="arrow left pull-up"></span>
                 <p  html="data"></p>


                </p>
              </div>
              <small class="text-muted"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
            </div>
          </div>



          <div class="m-b">
            <a href="" class="pull-right thumb-sm  "><img src="../../img/a3.jpg" class="img-circle" alt="..."></a>
            <div class="m-r-xxl">
              <div class="pos-rlt wrapper bg-primary r r-2x">
                <span class="arrow right pull-up arrow-primary"></span>
                <p class="m-b-none">Lorem ipsum dolor sit amet, conse <br>adipiscing eli...<br>:)</p>
              </div>
              <small class="text-muted">1 minutes ago</small>
            </div>
          </div>






        <div  class="gap-5 " ng-if="false" >

          <div  ng-if="false" class="btn-toolbar m-b-sm btn-editor" data-role="editor-toolbar" data-target="#editor">
            <div class="btn-group dropdown">
              <a class="btn btn-sm btn-default dropdown-toggle ng-scope" data-toggle="dropdown" tooltip="Font" aria-haspopup="true" aria-expanded="false"><i class="fa text-base fa-font"></i><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="" dropdown-toggle="" data-edit="fontName Serif" style="font-family:'Serif'" aria-haspopup="true" aria-expanded="false">Serif</a></li>
                <li><a href="" dropdown-toggle="" data-edit="fontName Sans" style="font-family:'Sans'" aria-haspopup="true" aria-expanded="false">Sans</a></li>
                <li><a href="" dropdown-toggle="" data-edit="fontName Arial" style="font-family:'Arial'" aria-haspopup="true" aria-expanded="false">Arial</a></li></ul>
            </div>
            <div class="btn-group dropdown">
              <a class="btn btn-sm btn-default dropdown-toggle ng-scope" data-toggle="dropdown" tooltip="Font Size" aria-haspopup="true" aria-expanded="false"><i class="fa text-base fa-text-height"></i>&nbsp;<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="" dropdown-toggle="" data-edit="fontSize 5" style="font-size:24px" aria-haspopup="true" aria-expanded="false">Huge</a></li>
                <li><a href="" dropdown-toggle="" data-edit="fontSize 3" style="font-size:18px" aria-haspopup="true" aria-expanded="false">Normal</a></li>
                <li><a href="" dropdown-toggle="" data-edit="fontSize 1" style="font-size:14px" aria-haspopup="true" aria-expanded="false">Small</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <a class="btn btn-sm btn-default ng-scope" data-edit="bold" tooltip="Bold (Ctrl/Cmd+B)"><i class="fa text-base fa-bold"></i></a>
              <a class="btn btn-sm btn-default ng-scope" data-edit="italic" tooltip="Italic (Ctrl/Cmd+I)"><i class="fa text-base fa-italic"></i></a>
              <a class="btn btn-sm btn-default ng-scope" data-edit="strikethrough" tooltip="Strikethrough"><i class="fa text-base fa-strikethrough"></i></a>
              <a class="btn btn-sm btn-default ng-scope" data-edit="underline" tooltip="Underline (Ctrl/Cmd+U)"><i class="fa text-base fa-underline"></i></a>
            </div>
            <div class="btn-group">
              <a class="btn btn-sm btn-default ng-scope" data-edit="insertunorderedlist" tooltip="Bullet list"><i class="fa text-base fa-list-ul"></i></a>
              <a class="btn btn-sm btn-default ng-scope" data-edit="insertorderedlist" tooltip="Number list"><i class="fa text-base fa-list-ol"></i></a>
              <a class="btn btn-sm btn-default ng-scope" data-edit="outdent" tooltip="Reduce indent (Shift+Tab)"><i class="fa text-base fa-dedent"></i></a>
              <a class="btn btn-sm btn-default ng-scope" data-edit="indent" tooltip="Indent (Tab)"><i class="fa text-base fa-indent"></i></a>
            </div>
            <div class="btn-group">
              <a class="btn btn-sm btn-default ng-scope btn-info" data-edit="justifyleft" tooltip="Align Left (Ctrl/Cmd+L)"><i class="fa text-base fa-align-left"></i></a>
              <a class="btn btn-sm btn-default ng-scope" data-edit="justifycenter" tooltip="Center (Ctrl/Cmd+E)"><i class="fa text-base fa-align-center"></i></a>
              <a class="btn btn-sm btn-default ng-scope" data-edit="justifyright" tooltip="Align Right (Ctrl/Cmd+R)"><i class="fa text-base fa-align-right"></i></a>
              <a class="btn btn-sm btn-default ng-scope" data-edit="justifyfull" tooltip="Justify (Ctrl/Cmd+J)"><i class="fa text-base fa-align-justify"></i></a>
            </div>
          </div>

        </div>

    </div>

          <!-- chat form -->

        <footer class="panel-footer">


	        <div>
	            <a class="pull-left thumb-xs  "><img src="../../img/a3.jpg" class="img-circle" alt="..."></a>
	            <div class="m-l-xl">
	            	<div ui-jq="wysiwyg" class="form-control h-auto" style="min-height:150px;" contenteditable="true">

		         	</div>
		         	<span class="input-group-btn   ">
		                  <button class="btn btn-default  m-t-xs" type="button">SEND</button>
		            </span>
	            </div>
	        </div>


        </footer>
      </div>
